html, body {
    background-color: #fff;
    height: max-content;
}

body {
    margin: 1%;
    padding: 0;
    color: #21282b;
    font-family: sans-serif;
    font-size: medium;
}

p {
    margin-top: 0.0em;
    margin-bottom: 0.4em;
}

a {
    color: #2c4863;
    text-decoration: underline;
}

.bigtext {
    font-size: large;
}

.root {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .title {
    margin: 0px;
}

.wrapper .content {
    display: flex;
    flex-direction: row;
}

.albums {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.album {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    width: 80%;
    border: 1px solid #7a8f97;
    padding: 6%;
    padding-top: 20px;
}

.album:hover {
    cursor: pointer;
}
