.albumViewer {
    position: relative;
    width: 72%;
    border: 0px;
    padding: 20px;
    margin-left: 10px;
}

.photo {
    position: relative;
    border: 0px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.image {
    max-width: 100%;
}

.albumClose {
    position: absolute;
    top: 10px;
    right: 10px;
}

.albumClose:hover {
    cursor: pointer;
    text-decoration: underline;
}