html, body {
    background-color: #fff;
    height: max-content;
}

body {
    margin: 10%;
    padding: 0px;
    color: #21282b;
    font-family: sans-serif;
    font-size: medium;
    height: max-content;
}

p {
    margin-top: 0.0em;
    margin-bottom: 0.4em;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #2a365c;
    text-decoration: underline;
}

.album {
    position: relative;
    float: left;
    width: 20%;
    height: 30%;
    border: 1px solid #7a8f97;
    padding: 1%;
    margin: 1%;
}

.album::after {
    clear: left;
    content: "";
    display: table;
}

.album:hover {
    cursor: pointer;
}

.bigtext {
    font-size: large;
}
