html, body {
    background-color: #141616;
    height: max-content;
}

body {
    margin: 1%;
    padding: 0;
    color: #e0d7d6;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
}

p {
    margin-top: 0.0em;
    margin-bottom: 0.4em;
    font-weight: 300;
}

h1 {
    margin-top: 0.0em;
    margin-bottom: 0.8em;
    font-weight: 700;
}

h2 {
    margin-top: 0.0em;
    margin-bottom: 0.6em;
    font-weight: 500;
}

h3 {
    margin-top: 0.0em;
    margin-bottom: 0.4em;
    font-weight: 400;
}

a {
    color: #749fc7;
    text-decoration: underline;
}

.bigtext {
    font-size: large;
}

.root {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    display: flex;
    flex-direction: row;
}

.albums {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 284px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.album {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 70%;
    border: 0px;
    padding: 6%;
    padding-top: 20px;
}

.album:hover {
    cursor: pointer;
}

.thumbCollection {
    display: inline;
    padding: 0px;
    margin: 0px;
}

.thumbCollection img {
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
}