html, body {
    background-color: #141616;
    height: max-content;
}

body {
    margin: 1%;
    padding: 0;
    color: #e0d7d6;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
}

p {
    margin-top: 0.0em;
    margin-bottom: 0.4em;
    font-weight: 300;
}

h1 {
    font-family: 'Viga', sans-serif;
    margin-top: 0.0em;
    margin-bottom: 0.7em;
    font-weight: 400;
}

h2 {
    margin-top: 0.0em;
    margin-bottom: 0.3em;
    font-weight: 600;
}

h3 {
    margin-top: 0.0em;
    margin-bottom: 0.2em;
    font-weight: 400;
}

a {
    color: #749fc7;
    text-decoration: underline;
}

.bigtext {
    font-size: large;
}

.root {
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f3a05c;
    color: #000000;
    height: 64px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.wrapper .header .title {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    height: 64px;
    line-height: 64px;
}

.wrapper .header .flexfiller {
    flex-grow: 1;
}

.wrapper .header .social {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0px;
}

.wrapper .header :hover {
    cursor: pointer;
}

.wrapper .content {
    display: flex;
    flex-direction: row;
}

.albums {
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.album {
    position: relative;
    margin-bottom: 2%;
    width: 100%;
    border: 0px;
    padding: 6%;
    padding-top: 20px;
}

.album:hover {
    cursor: pointer;
}

.thumbCollection {
    display: inline;
    padding: 0px;
    margin: 0px;
}

.thumbCollection img {
    vertical-align: bottom;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 4px;
    margin-right: 4px;
}